/* variables */

$color-body: #fcffcd;

/* Global */

body {
    background: $color-body;
    text-align: center;
}

/* sections */

.second-poem {
    margin-top: 70px;
}

h2 {
    color: rgb(0, 2, 95);
}

h1 {
    color: aqua;
}