/* variables */

$color-body: #fcffcd;
$color-container: #fff;
$color-h1:  #00ffff;
$color-h2: #00025f;
$color-shadow: #42445a;

/* Global */

body {
    background: $color-body;
    text-align: center;
}

/* sections */

.second-poem {
    margin-top: 70px;
}

h2 {
    color: $color-h2;
}

h1 {
    color: $color-h1;
}

.container {
    background: $color-container;
    display: inline-block;
    padding: 40px;
    box-shadow: 8px 8px 24px 0px $color-shadow;
    border-radius: 20px;
}